---
import Logo from "../components/Logo.astro";
---

<html lang="en" class="h-full w-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-[#5b87fd] h-full w-full">
    <div class="flex justify-center items-center h-full w-full flex-col">
      <Logo />
      <h1 class="text-4xl font-bold text-white">Version 2 Coming soon !</h1>
    </div>
  </body>
</html>