---
---

<div class="flex flex-col mx-24 mt-5 mb-2">
    <h1 class="text-3xl font-bold text-blue-700 mb-5">About Us</h1>
    <div class="text-2xl mb-3">
        We, the McMaster CS Society, are a group of computer science students
        dedicated to creating a supportive community for those interested in
        technology and its impact on society. We welcome all computer science
        students at McMaster University to join us and make the most of their
        time here, regardless of their level of experience in the field.
    </div>
    <div class="text-2xl mb-7">
        Throughout the year, we organize events including guest lectures, coding
        workshops, and hackathons to provide opportunities for members to
        enhance their technical skills and connect with industry professionals.
        We also plan social events and outings to build relationships and foster
        a sense of community. We are constantly working to improve the society
        and welcome feedback and suggestions from our members. Join us to make
        the most of your time in computer science at McMaster University.
    </div>
    <h1 class="text-blue-600 text-center text-2xl font-semibold">run with ❤️ for students by students</h1>
</div>
