---
import Form from "./Form.astro";
import Team from "./Team.astro";
---

<div class="bg-blue-700">
  <div class="p-6 py-8 lg:p-20">
    <div class="flex flex-col justify-between md:flex-row">
      <div class="text-white w-72 lg:w-96">
        <h1 class="text-3xl font-bold">Get in touch!</h1>
        <p class="py-5 text-xl font-light">
          If you have any concerns, feedback, or anything you want to share with
          us, feel free to use this form and we’ll try to reach back as soon as
          possible.
        </p>
      </div>

      <Form />
    </div>
    <Team />
    <div
      class="pt-5 mt-10 border-t-4 border-white lg:justify-between lg:flex lg:flex-row"
    >
      <div class="text-white">
        <h2 class="pb-1 font-semibold text-base md:text-1xl">
          McMaster University <br />
          <span class="text-lg lg:text-2xl font-semibold"
            >Computer Science<br />Society</span
          >
        </h2>
      </div>
      <div>
        <aside class="text-sm text-white lg:text-xl opacity-70">
          Copyright &#169; 2023
        </aside>
      </div>
    </div>
  </div>
</div>
