---
import Team from "./Team.astro";
---

<div class="mx-24 mb-10 text-blue-700">
  <Team/>
  <hr class="mx-auto h-[6px] bg-[#2356DD] mb-6" />
  <div class="flex flex-col float-left">
    <h3 class="text-1xl mb-1 font-bold">McMaster University</h3>
    <h1 class="text-2xl font-bold">Computer Science</h1>
    <h1 class="text-2xl font-bold mb-3">Society</h1>
  </div>
  <div class="flex justify-end">
    <!-- Copyright with right align -->
    <h1 class="text-xl text-blue-300 font-bold">Copyright &#169; 2023</h1>
  </div>
</div>
