---
export interface Props {
	title: string;
	body: string;
	href: string;
}

// TODO needs styling
const { href, title, body } = Astro.props;
---

<div class="flex p-4 bg-white rounded-md shadow-lg">
	<a href={href}>
		<h2 class="m-0 text-xl">
			{title}
			<span>&rarr;</span>
		</h2>
		<p class="pt-3">
			{body}
		</p>
	</a>
</div>
