---
import logo_white from "../assets/images/logo_white.svg";
---

<div
    class="w-full bg-blue-600 text-white lg:text-xl py-5 lg:py-7 px-6 lg:px-20 xl:px-44 flex "
>

    
    <a href="/"><img src={logo_white.src} class="mr-4 lg:mr-6 w-14 lg:w-20 pt-2" /></a>
    <div>
        <h3 class="font-light">Mcmaster University</h3>
        <h2 class="font-bold">Computer Science Soceity</h2>
    </div>


</div>
