---
// import { getPfps } from "../api";
// const docs = await getPfps({ limit: 100, sort: "slug" });
// const collections = docs.docs;

const images = await Astro.glob('../assets/team/*.jpg');
const filteredImages = images.filter((file) => {
  const fileName = file.default.src.match(/\/([^\/?]+)\.[a-z]+(\?|$)/i)[1];
  return fileName !== 'placeholder';
});

const getNameFromSrc = (src:any) => {
  // get the name from the filename and capitalize it
  const name = src.match(/\/([^\/?]+)\.[a-z]+(\?|$)/i)[1];
  return name.charAt(0).toUpperCase() + name.slice(1);;
}
---

<!-- <h3 class="text-2xl font-semibold text-center text-blue-600">
  run with ❤️ for students by students
</h3> -->
<!-- animate-marquee3 lg:animate-marquee -->
<!-- animate-marquee4 lg:animate-marquee2 -->
<div class="relative flex pt-20 overflow-x-hidden">
  <div
    class="flex lg:gap-4 animate-marquee whitespace-nowrap"
  >
    {
      filteredImages.map((image) => (
      <div class="tooltip tooltip-top" data-tip={getNameFromSrc(image.default.src)}>
        <img
          src={image.default.src}
          class="lg:mx-4.5 mx-8 rounded-full border-4 hover:border-zinc-900 h-16 min-w-max md:h-20"
        />
      </div>
      ))
    }
  </div>
  <div
    class="absolute -left-0 lg:left-14 flex lg:gap-4 animate-marquee2 whitespace-nowrap"
  >
    {
      filteredImages.map((image) => (
      <div class="tooltip tooltip-top" data-tip={getNameFromSrc(image.default.src)}>
        <img
          src={image.default.src}
          class="lg:mx-4.5 mx-8 rounded-full border-4 hover:border-zinc-900 h-16 min-w-max md:h-20"
        />
      </div>
      ))
    }
  </div>
</div>

<style>
  /* Hide the verticle scroll bar */
  /* Chrome */
  *::-webkit-scrollbar {
    width: 10px;
  }
  /*Firefox and Edge*/
  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .tooltip:before {
    --tooltip-color: white;;
    --tooltip-text-color: black;
    @apply font-semibold border-2 border-zinc-900
}
</style>
