---
// export interface Props {
//     title: string;
//     body: string;
//     href: string;
// }

// const { ...props } = Astro.props;
---

<div
  class="bg-white text-blue-700 border-[12px] border-blue-400 py-6 px-6 rounded-3xl shadow-lg flex-initial"
>
  <h1 class="font-bold text-lg mb-3">Upcoming event</h1>
  <h1 class="font-bold text-4xl">Bell ML Event</h1>
  <h1 class="font-bold text-4xl">FT: Google</h1>
  <p class="text-black mt-5 text-lg mb-6">
    This event offers a comprehensive look at machine learning, career
    opportunities at Bell, networking, and delicious food. Attendees will learn
    about AI, connect with industry experts, and have a memorable experience.
  </p>
  <button
    class="btn bg-blue-700 hover:bg-blue-800 w-full py-2 rounded-md font-semibold text-xl text-white"
    >RSVP</button
  >
</div>
