---
import {getUpcomingEvent} from "../api"
import { capString } from "../utils/globalFunctions";

const upcomingEvent = await getUpcomingEvent()
---

<div
  class="bg-white text-blue-700 border-[8px] lg:border-[12px] border-blue-400 py-4 lg:py-6 px-6 rounded-3xl shadow-lg flex-initial z-10"
>
  <h1 class="font-bold text-base lg:text-lg mb-3">Upcoming event</h1>
  <h1 class="font-bold text-2xl lg:text-4xl w-9/12 break-words">{capString(upcomingEvent.title, 25)}</h1>
  <p class="text-black mt-5 text-sm lg:text-base mb-6">
    {capString(upcomingEvent.summary, 200)}
  </p>
  <a
    class="btn btn-md bg-blue-700 hover:bg-blue-800 w-full rounded-md font-semibold text-base lg:text-xl text-white"
    href={`/posts/${upcomingEvent.slug}`}
    >View event</a
  >
</div>
